---
---

@import "variables";


$font-path-file-name1: {{ "/fonts/SimplonBPMono-Light" | prepend: site.baseurl }};
$font-path-file-name2: {{ "/fonts/DrukWide-HeavyItalic" | prepend: site.baseurl }};

@font-face {
  font-family: 'SimplonBPMono-Light';
  src: 	url($font-path-file-name1+'.eot?#iefix') format('embedded-opentype'),
  			url($font-path-file-name1+'.woff') format('woff'),
  			url($font-path-file-name1+'.ttf')  format('truetype'),
  			url($font-path-file-name1+'.svg#SimplonBPMono-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DrukWide-HeavyItalic';
  src: 	url($font-path-file-name2+'.eot?#iefix') format('embedded-opentype'),
  			url($font-path-file-name2+'.woff') format('woff'),
  			url($font-path-file-name2+'.ttf')  format('truetype'),
  			url($font-path-file-name2+'.svg#EurostileLTStd-BoldEx2') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
	background-color: $body_background;
	color: $font_color;
}

body:after{
    display:none;
    content:
	    url(/faceA.png)
	    url(/faceB.png)
	    url(/indiens.png)
	    url(/isolee.png)
	    url(/splendor.png)
}

#background_general {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

h1 {
	font-size: 1em;
	font-weight: inherit;
	margin: 0;
	text-align: center;
	margin-top: 30px;
}

h2 {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin: 0;
	cursor: pointer;
	line-height: 24px;
}

.duration {
	font-size: 18px;
	margin-top: -10px;
}

header {
	font-family: 'SimplonBPMono-Light';
	font-size: $header_font_size;
	padding-bottom: 30px;
	text-align: center;
}

.main-logo {
	height: 45px;
	margin: 20px 0;
}

#bouton_contact { cursor: pointer; }

.logo-fb, .logo-vimeo, .logo-instagram {
	width: 20px;
	margin-top: 20px;
}

.logo-vimeo {
	margin-left: 10px;
	position: relative;
	top: 2px;
}

.logo-instagram {
	margin-left: 12px;
	position: relative;
	top: 1px;
}

a {
	text-decoration: none;
	color: $font_color;
}

.container {
	max-width: 1100px;
	margin: auto;
	z-index:1;
}

.wrapper {
	padding-top: 65px;
}

.thumb {
	display: none;
	float: left;
	width: 200px;
	position: absolute;
}

.popup_launcher {
	padding: 40px 0;
	display: block;
	width: 100%;
	cursor: default;
	outline: none;
}

section.video {
	margin-top: 22px;
	font-family: 'DrukWide-HeavyItalic';
	line-height: 50px;
	text-align: center;
	letter-spacing: 1px;

	.play {
		text-align: center;
		font-size: $play_font_size;
	}

	article {
		display: inline-block;
		font-size: $description_font_size;
		font-family: 'SimplonBPMono-Light';
		line-height: 25px;
		letter-spacing: 1px;
		margin-top: -50px;
		margin-bottom: 15px;
		text-align: center;
	}

}

#contact {
	padding: 10px;
	margin-bottom: -90px;
	padding-top: 50px;
	padding-bottom: 75px;
	text-align: center;
	font-family: 'SimplonBPMono-Light';
	font-size:$contact_font_size;;
	display: none;
	line-height: 18px;
}

.baseline {
  font-size: 1.5em;
  line-height: 40px;
}

.image-about {
	width: 270px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.credits-developpement {
	font-family: 'SimplonBPMono-Light';
	text-align: right;
	font-size: 13px;
}

.about-container {
	margin-top: 25px;
}

@media only screen and (min-width: 555px) {

	h2 {
		font-size: 34px;
		line-height: initial;
	}

	.duration {
		font-size: 22px;
	}

	.main-logo {
		margin: 0;
		margin-top: 10px;
	}

	.title-container, .logo-container, .about-container {
		display: inline-block;
	}

	.title-container {
		width: 20%;
		text-align: left;

		h1 {
			text-align: left;
			margin: 0;
		}
	}

	.logo-container {
		width: 60%;
		text-align: center;
	}

	.about-container {
		margin-top: 0;
		width: 17%;
		text-align: right;
	}
}

@media only screen and (min-width: $wrapper_width) {

	.wrapper, #contact {
		padding-top: 95px;
	}

	h2 {
		font-size: $titre_film_font_size;
    line-height: 60px;
	}

	.container {
		width: $wrapper_width;
	}

	.baseline {
		font-size: 2.5em;
		line-height: 10px;
	}

	header {
		display: inline-block;
		padding: 20px 0;
		width: $header_width;
		text-align: left;
		position: fixed;
		top: 0px;
		z-index: 1;

		p {
			float: left;
			padding-left: 70px;
			margin: 0;
		}
	}

	#bouton_contact {
		float: right;
		margin-left: 20px;
		background-color: none;
	}
}
