---
---
@import "variables";


$font-path-file-name1: {{ "/fonts/LarishNeue" | prepend: site.baseurl }};
$font-path-file-name2: {{ "/fonts/NewBaskerville-Roman" | prepend: site.baseurl }};
$font-path-file-name3: {{ "/fonts/NewBaskervilleStd-Italic" | prepend: site.baseurl }};
$font-path-file-name4: {{ "/fonts/SimplonBPMono-Light" | prepend: site.baseurl }};
$font-path-file-name5: {{ "/fonts/TradeGothicLT-BoldExtended" | prepend: site.baseurl }};


@font-face {
  font-family: 'LarishNeue';
  src: 	url($font-path-file-name1+'.eot?#iefix') format('embedded-opentype'),  
  			url($font-path-file-name1+'.woff') format('woff'), 
  			url($font-path-file-name1+'.ttf')  format('truetype'), 
  			url($font-path-file-name1+'.svg#LarishNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewBaskerville-Roman';
  src: 	url($font-path-file-name2+'.eot?#iefix') format('embedded-opentype'),
  			url($font-path-file-name2+'.woff') format('woff'),
  			url($font-path-file-name2+'.ttf')  format('truetype'),
  			url($font-path-file-name2+'.svg#NewBaskerville-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewBaskervilleStd-Italic';
  src: 	url($font-path-file-name3+'.eot?#iefix') format('embedded-opentype'),  
  			url($font-path-file-name3+'.woff') format('woff'), 
  			url($font-path-file-name3+'.ttf')  format('truetype'), 
  			url($font-path-file-name3+'.svg#NewBaskervilleStd-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SimplonBPMono-Light';
  src: 	url($font-path-file-name4+'.eot?#iefix') format('embedded-opentype'),  
  			url($font-path-file-name4+'.woff') format('woff'), 
  			url($font-path-file-name4+'.ttf')  format('truetype'), 
  			url($font-path-file-name4+'.svg#SimplonBPMono-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLT-BoldExtended';
  src: 	url($font-path-file-name5+'.eot?#iefix') format('embedded-opentype'),  
  			url($font-path-file-name5+'.woff') format('woff'), 
  			url($font-path-file-name5+'.ttf')  format('truetype'), 
  			url($font-path-file-name5+'.svg#SimplonBPMono-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
	background-color: $body_background;
	color: $font_color;
}

#background_general {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

h1 {
	font-size: 1em;
	font-weight: inherit;
	margin: 0;
	text-align: center;
	margin-top: 30px;
}

h2 {
	display: inline-block;
	text-align: center;
	font-size: $titre_film_font_size;
	margin: 0;
	cursor: pointer;
}

header {
	background-color: $body_background;
	font-family: 'SimplonBPMono-Light';
	font-size: $header_font_size;
	padding-bottom: 30px;
	text-align: center;
}

#bouton_contact { cursor: pointer; }

a {
	text-decoration: none;
	color: $font_color;
}

.container {
	max-width: 1100px;
	margin: auto;
	z-index:1;
}
	
.wrapper {
	padding-top: 65px;
}

.thumb {
	display: none;
	float: left;
	width: 200px;
	position: absolute;
}

.popup_launcher {
	padding: 40px 0;
	display: block;
	width: 100%;
	cursor: default;
	outline: none;
}

section.video {
	margin-top: 70px;
	font-family: 'TradeGothicLT-BoldExtended';
	line-height: 50px;
	text-align: center;

	.play {
		text-align: center;
		font-size: $play_font_size;
	}

	article {
		display: inline-block;
		font-size: $description_font_size;
		font-family: 'SimplonBPMono-Light';
		line-height: 25px;
		margin-top: -40px;
		letter-spacing: 1px;
		margin-bottom: 20px;
		text-align: center;
	}

}
		
#contact {
	padding: 10px;
	margin-bottom: -90px;
	padding-top: 50px;
	padding-bottom: 75px;
	text-align: center;
	font-family: 'SimplonBPMono-Light';
	font-size:$contact_font_size;;
	display: none;
	line-height: 18px;
}

@media only screen and (min-width: $wrapper_width) {

	.container {
		width: $wrapper_width;
	}

	.header-wrapper {
		// TODO
	}

	header {
		display: inline-block;
		padding: 20px 0;
		width: $header_width;
		text-align: left;
		position: fixed;
		top: 0px;
		z-index: 1;
		
		p {
			float: left;
			padding-left: 70px;
			margin: 0;
		}
	}

	#bouton_contact {
		float: right;
		margin-left: 20px;
	}

	h1 {
		float: left;
		text-align: left;
		margin-top: 0;
	}
}
