---
---

$font-path-file-name1: {{ "/fonts/TimesNRCondensed" | prepend: site.baseurl }};
$font-path-file-name2: {{ "/fonts/FunctionBook" | prepend: site.baseurl }};

@import "variables";

@font-face {
  font-family: 'TimesNRCondensed';
  src: 	url($font-path-file-name1+'.eot?#iefix') format('embedded-opentype'),  
  			url($font-path-file-name1+'.woff') format('woff'), 
  			url($font-path-file-name1+'.ttf')  format('truetype'), 
  			url($font-path-file-name1+'.svg#TimesNRCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FunctionBook';
  src: 	url($font-path-file-name2+'.eot?#iefix') format('embedded-opentype'),
  			url($font-path-file-name2+'.woff') format('woff'),
  			url($font-path-file-name2+'.ttf')  format('truetype'),
  			url($font-path-file-name2+'.svg#FunctionBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	background-color: $body_background;
	color: $font_color;
}

h1 {
	font-size: 1em;
	font-weight: inherit;
	margin: 0;
	text-align: center;
	margin-top: 30px;
}

h2 {
	text-align: center;
	font-size: $titre_film_font_size;
}

a {
	text-decoration: none;
	color: $font_color;
}

.container {
	max-width: 1100px;
	margin: auto;
	background-color: $body_background;
}
	
.wrapper {
	padding-top: 65px;
}

header {
	font-family: 'TimesNRCondensed';
	font-size: $header_font_size;
	padding-bottom: 30px;
	text-align: center;
	#bouton_contact {
		cursor: pointer;
	}
}

section.video {
	margin-top: 50px;
	font-family: 'FunctionBook';

	.popup_launcher {
		position: relative;

		img {
			width: 100%;
		}
	}

	.play {
		text-align: center;
		font-size: $play_font_size;
	}

	article {
		font-size: $description_font_size;
		margin-bottom: 20px;
		text-align: center;
	}

}
		
#contact {
	padding: 10px;
	margin-bottom: -90px;
	padding-top: 75px;
	text-align: center;
	background-color: $body_background;
	display: none;
}

@media only screen and (min-width: $wrapper_width) {

	.container {
		width: $wrapper_width;
	}

	.header-wrapper {
		// TODO
	}

	header {
		display: inline-block;
		padding: 20px 0;
		width: $header_width;
		text-align: left;
		position: fixed;
		top: 0px;
		z-index: 1;
		background-color: $body_background;
		#bouton_contact {
			cursor: pointer;
			float: right;
			margin-left: 20px;
		}
		h1 {
			float: left;
			text-align: left;
			margin-top: 0;
		}
		p {
			float: left;
			padding-left: 70px;
			margin: 0;
		}
	}

}