<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta content="True" name="HandheldFriendly">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Ete Meurtrier</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
</head>

<body>

<div class='container'>

	<header>
		<h1>ÉTÉ MEURTRIER</h1>
		<p>VIDEO STUDIO BASED IN PARIS</p>
		<a href="#">ABOUT</a>
		<a href="#">CONTACT</a>
	</header>
