<% include header.ejs %>

<section class="home-wrapper">

	<section class="video">
		<iframe src="https://player.vimeo.com/video/72976790" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		<article>
			<p>Bryce Hackford - Left</p>
			<p>Réalisation</p>
			<p>Lilian Hardouineau, Antonin Mesnil</p>
			<p>Chef Opérateur</p>
			<p>Jean-Michel Poulichot</p>
			<p>Avec</p>
			<p>Mélanie Badal, Théo Cholbi</p>
			<p>2015</p>
		</article>
	</section>

	<section class="video">
		<iframe src="https://player.vimeo.com/video/89094029" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		<article>
			<p>Bryce Hackford - Left</p>
			<p>Réalisation</p>
			<p>Lilian Hardouineau, Antonin Mesnil</p>
			<p>Chef Opérateur</p>
			<p>Jean-Michel Poulichot</p>
			<p>Avec</p>
			<p>Mélanie Badal, Théo Cholbi</p>
			<p>2015</p>
		</article>
	</section>

</section>
<% include footer.ejs %>
