<% include header.ejs %>

<section id="contact">
	<p>Eté Meurtrier is launched in 2014</br>by Antonin Mesnil & Lilian Hardouineau.</p>
	<p>We work for art, music</br>and immersive projects.</p></br>
	<p>etemeurtrier@contact.fr</p>
</section>

<section class="wrapper">

	<section class="video">
		<iframe src="https://player.vimeo.com/video/72976790" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		<article>
			<p>BRYCE HACKFORD - LEFT</p>
			<p>RÉALISATION</br>Lilian Hardouineau, Antonin Mesnil</p>
			<p>CHEF OPÉRATEUR</br>Jean-Michel Poulichot</p>
			<p>Avec</br>Mélanie Badal,</br>Théo Cholbi</p>
			<p>2015</p>
		</article>
	</section>

	<section class="video">
		<iframe src="https://player.vimeo.com/video/89094029" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		<article>
			<p>BRYCE HACKFORD - LEFT</p>
			<p>RÉALISATION</br>Lilian Hardouineau, Antonin Mesnil</p>
			<p>CHEF OPÉRATEUR</br>Jean-Michel Poulichot</p>
			<p>Avec</br>Mélanie Badal,</br>Théo Cholbi</p>
			<p>2015</p>
		</article>
	</section>

</section>

<% include footer.ejs %>
