<section id="contact">
  <p><BR><BR><BR>Eté Meurtrier is launched in 2014</br>by Antonin Mesnil & Lilian Hardouineau.</p>
  <p>We work for art, music</br>and immersive projects.</p>
  <p><a href="mailto:hello@etemeurtrier.fr">hello@etemeurtrier.fr</a></p>
  <p>Development: <a href="https://fr.linkedin.com/in/remymaucourt" target="_blank">Rémy Maucourt</a></p>
  
  <a href="https://www.facebook.com/etemeurtrier/" target="_blank">
    <img src="{{ "/images/fb-1.png" | prepend: site.baseurl }}" class="logo-fb">
  </a>
  
  <a href="https://vimeo.com/etemeurtrier" target="_blank">
    <img src="{{ "/images/vimeo-1.png" | prepend: site.baseurl }}" class="logo-vimeo">
  </a>

  <a href="https://www.instagram.com/etemeurtrier/" target="_blank">
    <img src="{{ "/images/instagram-1.png" | prepend: site.baseurl }}" class="logo-instagram">
  </a>

  <BR>
    <BR>
</section>