<section id="contact">
  <p>Eté Meurtrier is Antonin Mesnil & Lilian Hardouineau,</br>two directors currently based and working in Paris.</p>

  <img src="{{ "/images/web-p.jpg" | prepend: site.baseurl }}" class='image-about'>

  <p class='baseline'><a href="mailto:hello@etemeurtrier.fr">hello@etemeurtrier.fr</a></p>
  
  <a href="https://www.facebook.com/etemeurtrier/" target="_blank">
    <img src="{{ "/images/fb-1.png" | prepend: site.baseurl }}" class="logo-fb">
  </a>
  
  <a href="https://vimeo.com/etemeurtrier" target="_blank">
    <img src="{{ "/images/vimeo-1.png" | prepend: site.baseurl }}" class="logo-vimeo">
  </a>

  <a href="https://www.instagram.com/etemeurtrier/" target="_blank">
    <img src="{{ "/images/instagram-1.png" | prepend: site.baseurl }}" class="logo-instagram">
  </a>
</section>