$body_background: #fbfcfa;
$font_color: black;

$wrapper_width: 1100px;
$header_width: 1100px;

$popup_background_opacity: 1;

$header_font_size: 25px;
$titre_film_font_size: 24px;
$description_font_size: 18px;
$play_font_size: 20px;