$body_background: black;
$font_color: white;

$wrapper_width: 1100px;
$header_width: 1100px;

$popup_background_opacity: 1;

$header_font_size: 13px;
$titre_film_font_size: 55px;
$description_font_size: 13px;
$contact_font_size: 13px;
$play_font_size: 13px;