<% @films.each do |film| %>

	<section class="video">
		<a href=<%= film.video_url %> class='popup_launcher'>
			<%= image_tag film.image.url %>
		</a>

		<article>
			<p><%= simple_format(film.description) %></p>
		</article>

	</section>

<% end %>