<% @films.each do |film| %>

	<section class="video">
		<h2><%= film.titre %></h2>

		<a href=<%= film.video_url %> class='popup_launcher'>
			<%= image_tag film.image.url %>
			<p class='play'>play</p>
		</a>

		<article>
			<p><%= simple_format(film.description) %></p>
		</article>

	</section>

<% end %>