@import "variables";

@font-face {
  font-family: 'TimesNRCondensed';
  src: 	url('TimesNRCondensed.eot?#iefix') format('embedded-opentype'),  
  			url('TimesNRCondensed.woff') format('woff'), 
  			url('TimesNRCondensed.ttf')  format('truetype'), 
  			url('TimesNRCondensed.svg#TimesNRCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FunctionBook';
  src: 	url('FunctionBook.eot?#iefix') format('embedded-opentype'),
  			url('FunctionBook.woff') format('woff'),
  			url('FunctionBook.ttf')  format('truetype'),
  			url('FunctionBook.svg#FunctionBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	background-color: $body_background;
	color: $font_color;
}

a {
	color: $font_color;
}

.container {
	max-width: 1100px;
	margin: auto;
	background-color: $body_background;
}
	
.wrapper {
	padding-top: 65px;
}

header {
	font-family: 'TimesNRCondensed';
	font-size: $header_font_size;
	padding-bottom: 30px;
	text-align: center;
	#bouton_contact {
		cursor: pointer;
	}
}

h1 {
	font-size: 1em;
	font-weight: inherit;
	margin: 0;
	text-align: center;
	margin-top: 30px;
}

section.video {
	margin-top: 50px;
	font-family: 'FunctionBook';

	.popup_launcher {
		position: relative;

		// "bouton lecture"

		// &::after {
		// 	content: '';
		// 	background-image: url('playlight.png');
		// 	background-size: contain;
		// 	background-repeat: no-repeat;
		// 	height: 50px;
		// 	width: 50px;
		// 	position: absolute;
		// 	right: 230px;
		// 	top: -150px;
		// }
		img {
			width: 100%;
		}
	}

	article {
		font-size: $body_font_size;
		margin-bottom: 20px;
	}

}
		
a {
	text-decoration: none;
}
		
#contact {
	padding: 10px;
	position: relative;
	margin-bottom: -90px;
}

@media only screen and (min-width: 810px) {

	.container {
		width: $wrapper_width;
	}

	.header-wrapper {
		// TODO
	}

	header {
		display: inline-block;
		padding: 20px 0;
		width: $header_width;
		text-align: left;;
		position: fixed;
		top: 0px;
		background-color: $body_background;
		#bouton_contact {
			cursor: pointer;
			float: right;
			margin-left: 20px;
		}
		h1 {
			float: left;
			text-align: left;
			margin-top: 0;
		}
		p {
			float: left;
			padding-left: 70px;
			margin: 0;
		}
	}
	
	#contact {
		padding: 10px;
		position: fixed;
		top: 60px;
		right: 50px;
		background-color: $body_background;
	}

}