<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="background_general"></div>

      {% include header.html %}
      {% include zone_contact.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}

      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>

      <script src="{{ "/js/magnific_popup.js" | prepend: site.baseurl }}"></script>

      <script src="{{ "/js/client.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
