<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="background_general"></div>

      {% include header.html %}

      <section id="contact">
        <p><BR><BR><BR>Eté Meurtrier is launched in 2014</br>by Antonin Mesnil & Lilian Hardouineau.</p>
        <p>We work for art, music</br>and immersive projects.</p>
        <p><a href="mailto:hello@etemeurtrier.fr">hello@etemeurtrier.fr</a></p>
        <p>Development: <a href="https://fr.linkedin.com/in/remymaucourt" target="_blank">Rémy Maucourt</a></p>
        
        <a href="https://www.facebook.com/etemeurtrier/" target="_blank">
          <img src="{{ "/images/fb-1.png" | prepend: site.baseurl }}" class="logo-fb">
        </a>
        
        <a href="https://vimeo.com/etemeurtrier" target="_blank">
          <img src="{{ "/images/vimeo-1.png" | prepend: site.baseurl }}" class="logo-vimeo">
        </a>

        <BR>
          <BR>
      </section>

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>

      <script src="{{ "/js/magnific_popup.js" | prepend: site.baseurl }}"></script>

      <script src="{{ "/js/client.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
