<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="contact" class="mfp-hide">
      </br>
      <p>Eté Meurtrier is launched in 2014</br>by Antonin Mesnil & Lilian Hardouineau.</p>
      <p>We work for art, music</br>and immersive projects.</p></br>
      <p>etemeurtrier@contact.fr</p>
    </section>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ "/js/magnific_popup.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/client.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
