
<div class='container'>
	<div class='header-wrapper'>
		<header>
			<a href="/">
				<h1>Été Meurtrier</h1>
			</a>
			<p>Video studio based in Paris</p>
			<a href="#contact" id="bouton_contact">Contact</a>
		</header>
	</div>
